.body {
  display: flex;
  padding: 90px 0;
  justify-content: center;

  @media (max-width: 960px) {
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
}

.info {
  font-size: 18px;
  padding-left: 70px;
  flex-basis: 50%;

  @media (max-width: 960px) {
    order: 1;
    margin-bottom: 20px;
    padding-left: 0;
  }
}

.title {
  font-size: 40px;
  margin-top: 0;
  color: #575153;
}

.prices {
  display: flex;
  align-items: center;
}

.original-price {
  font-size: 24px;
  // font-weight: 700;
  text-decoration: line-through;
  color: #8e8c8c;
  margin: 0;
}

.current-price {
  font-size: 28px;
  font-weight: 700;
  color: #575153;
  margin: 0;
  padding: 0 20px;
}
