.body {
  display: flex;
  padding: 90px 0;
  justify-content: center;

  @media (max-width: 960px) {
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 40px 0;
  }
}

.info {
  font-size: 18px;
  padding-left: 70px;
  flex-basis: 50%;

  @media (max-width: 960px) {
    order: 1;
    margin-bottom: 20px;
    padding-left: 0;
  }
}

.title {
  font-size: 40px;
  margin-top: 0;
  color: #575153;

  @media (max-width: 960px) {
    font-size: 30px;
  }
}

.prices {
  display: flex;
  align-items: center;
}

.original-price {
  font-size: 24px;
  text-decoration: line-through;
  color: #8e8c8c;
  margin: 0;
  padding-right: 20px;

  @media (max-width: 960px) {
    font-size: 20px;
  }
}

.current-price {
  font-size: 28px;
  font-weight: 700;
  color: #575153;
  margin: 0;

  @media (max-width: 960px) {
    font-size: 24px;
  }
}

.error-message {
  max-width: 500px;
  margin: 90px auto 0 auto;
}

.progress {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}
