.password-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 10px;

  .password-data-title {
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 5px 20px;
    margin: 0;
    border-bottom: 1px solid rgb(173, 173, 173);
  }

  .password-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
    width: 50%;
    gap: 10px;
    padding: 20px;

    .password-button {
      max-width: 300px;
      align-self: center;
    }
  }
}
